body {
  font-family: 'Quicksand', sans-serif;
}

.container {
  width: 375px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  gap: 2rem;
  box-sizing: border-box;
}

.top-bar {
  width: 100%;
  color: #fff;
  margin-left: auto;
  background-color: #3A1078;
  text-align: right;
  
}

.top-bar i {
  padding: 0.5rem;
}
.contacts-bar h2 {
   font-size: 1.25rem;
   margin-right: 8rem;
   
}


.contacts-bar {
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1.25rem;
  font-weight: 300;
  padding: 0px 20px;
  background-color: #6D67E4;
}

.fa-bars {
  padding-right: 2rem;
}

.info {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  align-items: flex-end;
}

select {
  cursor: pointer;

}

input [type=number] {
  width: 300px;
}

input {
  cursor: pointer;
  width: 230px;
  background-color: #EEEEEE;
  border: none;
  border-bottom: 1px solid black;
  padding: 18px 20px;
  border-radius: 5px 5px 0px 0px;
  font-size: 1rem;
}


.info i {
  padding: 1rem;

}
.info div {
  column-gap: 1rem;
  display: flex;
  flex-direction: row;

}

#label {
  border-radius: 5px;
  border: solid 1px;
  background-color: transparent;
  font-size: 1rem
}

.phone input {
  width: 140px;
  border-radius: 5px;
  border: solid 1px;
  background-color: transparent;

}

.state input {
  width: 100px;
  font-size: 1rem;
}
.state select {
  width: 115px;
  cursor: pointer;
  background-color: #EEEEEE;
  border: none;
  border-bottom: 1px solid black;
  padding: 18px 20px;
  border-radius: 5px 5px 0px 0px;
  font-size: 1rem;
}

.city input {
  border-radius: 5px;
  border: solid 1px;
  background-color: transparent;
}

.email input {
  border-radius: 5px;
  border: solid 1px;
  background-color: transparent;
}